.container-content4{
    margin-top: 160px;
    height: 480px;

    .emprego-ideal{
        //align-items: center;
        display: flex;
        margin-left: 125px;

        h2{
            width: 570px;
        }
        
        p{
            width: 570px;
        }

    }

    .blocos{
        margin-top: 80px;
        display: flex;
        justify-content: space-around;
        .cubo1{
            max-width: 420px;
        }
        .cubo2{
            max-width: 400px;
        }
        .cubo3{
            max-width: 400px;
        }
    }
}