.container-content5{
    padding-top: 40px;
    background-color: #F4F4F3;
    height: 400px;

    .container-in{
        display: flex;
        height: 370px;
        flex-direction: column;
        background-color: white;
        text-align: center;

        h2{
            //max-width: 100%;
            margin-top: 90px;
            color: #4A90E2;
        }

        p{ 
            margin-top: 2px;
            margin-bottom: 3px;
        }

        .paragrafo2{
            margin-top: 1px;
        }

        .btnCadastro{
            cursor: pointer;
            background-color: transparent; /* Remove a cor de fundo */
            width: 110px;
            border: 2px solid black;
            color: black;
            padding: 10px;
            margin: 20px auto 0; /* Centraliza horizontalmente com 'auto' e dá um espaçamento superior */
            border-radius: 5px; /* Bordas arredondadas */
            transition: background-color 0.3s ease; /* Suaviza a mudança de cor ao passar o mouse */

            &:hover {
                background-color: #4A90E2; /* Cor de fundo ao passar o mouse */
                color: white; /* Muda a cor do texto ao passar o mouse */
                border: none;
            }


        }
    }
}