.cab{
    display: flex;
    height: 525px;  
    margin-top: 120px;
    align-items: center;
    padding-left: 80px;

    .escolher-plataforma{
        margin-top: 5px;
        margin-left: 100px;

        .paragrafo1{
            max-width: 650px;
            margin-top: 0.1px;
            color: #6F6E6E;
        }

        .min-textos{
            margin-top: 30px;
            max-width: 520px;
            margin-left: 30px;

            h3{
                margin-bottom: 0.5px;
            }

            p{
                color: #6F6E6E;
                margin-top: 5px;
            }
        }
    }

    .img-trabalhador{
        margin-top: 2px;
    }
}