.container {
    background-color: #E2E7F8;
    margin-top: 50px;
    height: 600px;
    display: flex;
    //align-items: center;  3A5BCC
    
    .h1-hero{
        padding-top: 50px;
        padding-left: 300px;
        //padding-top: 20px;
        //margin: 0 auto;
        //background-color: red;
        width: 500px;
        max-width: 1024px;
        font-size: 30px;
    }

    .hero-paragraph{
        padding-left: 300px;
        font-size: 14px;
        width: 50%;
    }

    .img-hero img {
        margin-top: 80px;
        margin-right: 210px;
    }
    
    .button-hero{
        margin-left: 295px;
        margin-top: 25px;
        border: none;
        border-radius: 6px;
        background-color: #3A5BCC;
        color: white;
        cursor: pointer;
        width: 125px;
        height: 45px;
    }



}